.btn-topo
    position relative
    display block
    margin-left auto
    width 45px
    height 45px
    background #F5F5F5
    border 1px solid $cinzaLinha
    margin-top 65px
    +tablet()
        margin-top 40px
    +mobile()
        margin-top 25px
    margin-bottom 10px
    text-align center
    opensans 11
    padding-top 25px
    color $texto
    transition background .3s, border .3s
    &:hover
        background #fff
        border-color $texto
    &:after
        content ''
        width 1px
        height 10px
        background $texto
        position absolute
        left 21px
        top 9px
    &:before
        content ''
        position absolute
        width 7px
        height 7px
        border-top 1px solid $texto
        border-left 1px solid $texto
        transform rotate(45deg)
        top 9px
        left 18px

footer
    margin-top 10px
    background #F5F5F5
    border-top 1px solid $cinzaLinha
    padding 20px 0 10px
    > .center:first-child
        display flex
        justify-content space-between
        padding-bottom 24px
    .links
        width 345px
        img
            margin-bottom 15px
        .links-wrapper
            display grid
            grid-template-columns 1fr 1fr
            grid-gap 28px
        .col
            > a
                position relative
                display block
                opensans 12
                color $roxo
                padding-left .8em
                &:before
                    content '\00b7'
                    position absolute
                    left 0
                + a
                    margin-top 8px
            .social
                margin-top 24px
                display flex
                a
                    width 16px
                    height 16px
                    text-indent -9999px
                    + a
                        margin-left 3px
                    &.instagram
                        background $img('ico-instagram.png') no-repeat center bottom
                    &.facebook
                        background $img('ico-facebook.png') no-repeat center bottom
    .contato
        max-width 360px
        color $roxo
        .telefone
            padding-left 18px
            background $img('ico-telefone-rodape.png') no-repeat 1px 3px
            font-size 0
            margin-top 10px
            span
                opensans 12 bold
                display inline-block
                + span
                    &:before
                        content '|'
                        margin 0 8px
        .whatsapp
            opensans 12
            padding-left 18px
            margin 4px 0 24px
            span
                display inline-block
                font-weight bold
                padding-left 20px
                margin-left 6px
                background $img('ico-whatsapp.png') no-repeat left center
        .endereco
            opensans 12
            padding-left 18px
            background $img('ico-endereco.png') no-repeat 2px 3px
        .email
            opensans 12
            padding-left 18px
            background $img('ico-email.png') no-repeat left center
        .atendimento
            opensans 10
            padding-left 18px
            background $img('ico-horarioatendimento.png') no-repeat left 3px
        .grupo
            opensans 9
            padding-left 18px
    .copyright
        border-top 1px solid $cinzaLinha
        padding 15px 0
        p
            opensans 10
            margin 0
            text-align center
            color $cinzaTexto
            a:hover
                color #000
            +mobile()
                font-size 9px
                span
                    font-size 0
                    display block
    +below(1230px)
        > .center:first-child
            flex-wrap wrap
            justify-content flex-start
            .links
                width 100%
                margin-bottom 45px
                .links-wrapper
                    max-width 345px
            .contato + .contato
                margin-left 60px
    +below(840px)
        > .center:first-child
            display block
            .links
                .links-wrapper .col:first-child
                    display none
                .links-wrapper .col > a
                    display none
                .links-wrapper .col .social
                    margin-top 0
            .contato + .contato
                margin-left 0
                margin-top 40px
            .contato
                .telefone
                    span
                        display block
                        + span:before
                            display none
                .whatsapp span
                    display block
                    margin-left 0
