header
    >.center
        border-bottom 1px solid $cinzaLinha
        padding-top 10px
        +below($tablet)
            border-bottom none
    .container
        display grid
        grid-template-columns 206px 1fr
        grid-gap 24px
        padding-bottom 16px
        border-bottom 1px solid $cinzaLinha
        +below(560px)
            grid-template-columns 1fr
            grid-gap 10px
    .conteudo
        display flex
        flex-direction column
    .logo
        width 100%
        height 100px
        background $img('marca-jabaquaracolchoes.png') no-repeat center top
        background-size 100% auto
        text-indent -9999px
        +below(560px)
            background-size auto 100%
            background-position left top
    .informacoes
        border-bottom 1px solid $cinzaLinha
        display flex
        padding 5px
        opensans 12
        color $cinzaTexto
        .telefone
            display inline-block
            background $img('telefone.png') no-repeat left 2px
            padding-left 18px
            span
                display inline-block
                + span
                    &:before
                        content '|'
                        margin 0 8px
                +mobile()
                    display block
                    + span:before
                        display none

        .social
            margin-left auto
            font-size 0
            a
                width 16px
                height 16px
                display inline-block
                text-indent -9999px
                + a
                    margin-left 5px
                &.facebook
                    background $img('facebook.png') no-repeat center
                &.instagram
                    background $img('instagram.png') no-repeat center
        +mobile()
            padding 5px 0
            align-items center
    .acoes
        display flex
        flex-wrap wrap
        align-items center
        justify-content space-between
        padding 10px
        flex 1
        +mobile()
            padding 10px 0
        .slogan
            opensans 12 bold
            color $azul
            margin 0
            +below(890px)
                max-width 140px
            +mobile()
                max-width 100%
                width 100%
                margin-bottom 10px
        .busca
            width 380px
            height 32px
            border 1px solid $roxo
            border-radius 4px
            position relative
            overflow hidden
            +below(1190px)
                width auto
                flex 1
                margin-left 30px
            +mobile()
                width 100%
                flex-shrink 0
                margin-left 0
            input
                width 100%
                height 100%
                border 0
                outline 0
                padding 0 10px
                padding-right 30px
                opensans 14
                color $roxo
            button
                position absolute
                width 30px
                height 100%
                top 0
                right 0
                background $img('ico-busca.png') no-repeat center
                border 0
                outline 0
                cursor pointer
        .botoes
            font-size 0
            display flex
            +below(1190px)
                width 100%
                justify-content flex-end
                margin-top 12px
            .btn-carrinho
                display inline-block
                height 20px
                padding-right 28px
                background $img('carrinho.png') no-repeat right center
                span
                    display inline-block
                    background #666666
                    color #ffffff
                    opensans 13
                    padding 2px 6px
                    border-radius 3px
                    transform translateY(1px)

    .secoes
        display flex
        justify-content space-between
        padding 0 20px
        position relative
        +below($tablet)
            display none
        .secoes-btn
            height 34px
            > a
                opensans 12
                line-height 34px
                color $roxo
                text-transform uppercase
                position relative
                &:after
                    content 'v'
                    position absolute
                    right -9px
                    transform translateY(-1px)
                    opensans 8
                    color #000 !important
                    opacity 0
                    transition opacity .3s
                &:hover:after
                &.active:after
                    opacity 1
                &.active
                    font-weight 700
            &:hover > .secoes-dropdown
                visibility visible
                opacity 1
                top 32px
        .secoes-dropdown
            visibility hidden
            opacity 0
            transition all .2s
            width 100%
            padding 10px
            background #fff
            border 1px solid rgba($cinzaLinha, .7)
            box-shadow 0 8px 18px rgba(#000, .2)
            position absolute
            left 0
            top 42px
            z-index 105
            display flex
            .categorias
                width 230px
                padding 20px 20px 10px 10px
                a
                    display block
                    opensans 14 bold
                    color $cinzaTexto
                    text-transform uppercase
                    + a
                        margin-top 8px
                    &:hover
                        color $texto
            .produto-destaque
                display flex
                flex 1
                background #ECECEC
                align-self flex-start
                img
                    display block
                .textos
                    padding-left 40px
                    padding-top 40px
                    p
                        color #666
                        margin 0
                        &.linha
                            opensans 10
                        &.titulo
                            opensans 14 bold
                        &.legenda
                            opensans 24
                        &.valor
                            display inline-block
                            opensans 10
                            margin-top 10px
                            position relative
                            padding-right 40px
                            &:after
                                content ''
                                position absolute
                                right 0
                                bottom 6px
                                width 0
                                height 0
                                border-style solid
                                border-width 6px 0 6px 12px
                                border-color transparent transparent transparent #666
                            strong
                                display block
                                opensans 20
                                line-height 1.2
            .marcas-dropdown
                width 100%
                display flex
                flex-wrap wrap
                padding 10px 10px 5px
                a
                    display block
                    padding 0 10px 5px
                    width 16.667%
                    opensans 14 bold
                    color $cinzaTexto
                    text-transform uppercase
                    &:hover
                        color $texto

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 20px
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin-left 30px
    +mobile()
        margin-left 15px
    .lines
        display block
        width 100%
        height 4px
        background #666666
        position relative
        transition .3s ease
        border-radius 2px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            border-radius 2px
            background #666666
            transition .3s ease
        &:before
            top 8px
        &:after
            top -8px
    &.close
        .lines
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

#nav-mobile
    display none
    text-align right
    padding 20px 20px 10px
    border-bottom 1px solid $cinzaLinha
    +above($tablet)
        display none !important
    +mobile()
        padding 15px 0 10px
    > div + div
        margin-top 5px
    a
        opensans 14
        color #666
        text-transform uppercase
    .mobile-cat-toggle
        display inline-block
        width 14px
        height 14px
        background $cinzaTexto
        margin-left 4px
        transform translateY(2px)
        cursor pointer
        position relative
        border-radius 2px
        &:after
        &:before
            content ''
            position absolute
            width 8px
            height 2px
            background #fff
            top 6px
            left 3px
        &:after
            transform rotate(90deg)
            transition all .3s
        &.open:after
            transform rotate(0deg)
    .mobile-categorias
        display none
        margin-top 3px
        margin-bottom 18px
        a
            opensans 13
            padding-right 23px
            color $cinzaTexto
            display block
            text-transform uppercase
            + a
                margin-top 3px
