.lojas
    color $texto
    h1
        opensans 22
        margin 0 0 1.5em
    .col-wrapper
        display flex
        justify-content space-between
        .col
            width calc('50% - 20px')
            display flex
            flex-direction column
            p
                margin 0
        +mobile()
            display block
            .col
                width 100%
                + .col
                    margin-top 40px
    .endereco
        opensans 16
        padding-left 20px
        background $img('ico-endereco.png') no-repeat left 6px
    .email
        opensans 14
        padding-left 20px
        background $img('ico-email.png') no-repeat left center
        margin 1em 0
        &:hover
            color $roxo
    .atendimento
        opensans 14
        padding-left 20px
        background $img('ico-horarioatendimento.png') no-repeat left 6px
        margin-bottom 30px !important
        +mobile()
            margin-bottom 20px !important
    .mapa
        width 100%
        height 400px
        margin-top auto
        +mobile()
            height 300px
        iframe
            width 100%
            height 100%
            display block
