.pagina-contato
    clearfix()
    .textos
        width 320px
        float left
        color $texto
        padding-right 30px
        h3
            opensans 22
            margin-top 16px
        .col + .col
            margin-top 32px
        .telefone
            padding-left 22px
            background $img('ico-telefone-rodape.png') no-repeat 1px 6px
            opensans 16
            margin 0
            span
                display block
        .email
            display block
            padding-left 22px
            background $img('ico-email.png') no-repeat left center
            opensans 15
            margin-top 10px
            &:hover
                color $roxo
        +mobile()
            width 100%
            margin-bottom 20px
            padding 0
            h3
                font-size 18px
                margin-top 0
            p
                font-size 14px
    form
        width calc('100% - 320px')
        max-width 600px
        float left
        background #F5F5F5
        padding 20px
        p
            opensans 15
            color #666
            line-height 1
            margin 0 0 1em
            &.enviado
                opensans 16 bold
                text-align center
                padding 1em 0
                margin 0
                +mobile()
                    font-size 15px
        input
        textarea
            width 100%
            display block
            background #fff
            border 0
            outline none
            margin-top 5px
            opensans 14
            font-style italic
            color $texto
            +placeholder()
                color $cinzaTexto
        input
            height 32px
            padding 0 10px
            &[type=submit]
                height 50px
                background #666
                color #ffffff
                opensans 14 bold
                font-style normal
                cursor pointer
                transition background .3s
                &:hover
                    background lighten(#666, 5)
        textarea
            height 80px
            padding 10px
            resize none
        .input-arquivo
            width 100%
            display block
            height 46px
            background #fff
            text-align center
            line-height 46px
            opensans 14
            color $texto
            font-style italic
            margin-top 5px
            cursor pointer
            position relative
            +mobile()
                font-size 13px
            span
                display block
                width calc('100% - 20px')
                white-space nowrap
                overflow hidden
                text-overflow ellipsis
                margin 0 auto
                &.ativo
                    font-weight bold
            input
                width 100%
                height 100%
                position absolute
                top 0
                left 0
                z-index -1
        .erros
            background #c55858
            margin-top 5px
            color #ffffff
            padding 10px
            opensans 13
            text-transform uppercase
            line-height 1.5
        +mobile()
            width 100%
