.pagina
    clearfix()
    .texto
        width 56.25%
        float right
        opensans 16
        color $texto
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0
        h1, h2, h3
            font-weight normal
            margin 1.2em 0 .67em
        h1
            text-transform uppercase
            font-size 1.375em
        h2
            font-size 1.22em
        a
            text-decoration underline
            color $cinzaTexto
        +tablet()
            font-size 15px
        +mobile()
            width 100%
            font-size 14px
    .imagens
        width 37.5%
        float left
        img
            display block
            max-width 100%
            + img
                margin-top 10px
        +mobile()
            width 100%
            margin-top 25px
