.produtos-sidebar
    clearfix()
    .produtos-filters
        width 20%
        float left
        +mobile()
            width 100%
    .produtos-list
        width 74%
        float right
        +mobile()
            width 100%
            margin-top 25px
    .load-next-wrapper
        width 74%
        float right
        +mobile()
            width 100%

.filters-desktop
    +mobile()
        display none
.filters-mobile
    display none
    margin-bottom 15px
    +mobile()
        display block

.filter-form
    padding 0 20px
    +below($tablet)
        padding 0
    +mobile()
        border 1px solid rgba($cinzaLinha, .7)
        padding 10px
    label
        display block
        opensans 12
        color $cinzaTexto
        margin-bottom 10px
        +mobile()
            width calc('50% - 5px')
            float left
            + label
                float right
        input
            width 100%
            display block
            background #F5F5F5
            color #666
            outline none
            border 0
            opensans 12
            height 24px
            padding 0 5px
            margin-top 3px
    input[type=submit]
        display inline-block
        background $cinzaTexto
        border 0
        outline 0
        padding 5px 15px
        opensans 12 bold
        cursor pointer
        text-transform uppercase
        color #fff

.produtos-filters
    .filters-header
        border-bottom 1px solid rgba($cinzaLinha, .7)
        opensans 11 bold
        color $texto
        padding-left 20px
        padding-right 20px
        padding-bottom 24px
        margin-bottom 14px
        +tablet()
            padding-left 0
            padding-right 0
        + .filter-links .filter-title
            border-top 0
            margin-top 0
            padding-top 0
    .filter-links
        .filter-title
            border-top 1px solid rgba($cinzaLinha, .7)
            opensans 16
            color $texto
            margin-top 25px
            padding-top 14px
            padding-left 20px
            padding-right 20px
            margin-bottom 10px
            display block
            position relative
            &:after
                content 'v'
                position absolute
                right 20px
                opensans 11
            +tablet()
                padding-left 0
                padding-right 0
                &:after
                    right 0
        a
            display block
            padding-left 20px
            padding-right 20px
            opensans 16
            color $cinzaTexto
            + a
                margin-top 5px
            &.active
                font-weight 700
            +tablet()
                padding-left 0
                padding-right 0
                font-size 15px
        .filter-sub
            margin 3px 0 10px
        .filter-sub a
            font-size 14px
            padding-left 30px
            + a
                margin-top 3px
            +tablet()
                font-size 13px
                padding-left 10px
    .filtro-select
        display block
        width 100%
        opensans 13
        border 0
        outline 0
        background #fff
        border 1px solid $cinzaLinha
        color $texto
        padding 5px 7px
        margin-bottom 4px
        +above($tablet)
            width calc('100% - 40px')
            margin-left 20px

.produtos-list
    display flex
    flex-wrap wrap
    &.produtos-list-fullwidth .produto-thumb
        width calc('25% - 37.5px')
        margin-right 50px
        margin-bottom 75px
        &:nth-child(4n)
            margin-right 0
        +tablet()
            width calc('33.333% - 33.333px')
            &:nth-child(4n)
                margin-right 50px
            &:nth-child(3n)
                margin-right 0
        +mobile()
            width calc('50% - 15px')
            margin-right 30px
            margin-bottom 40px
            &:nth-child(4n)
                margin-right 40px
            &:nth-child(2n)
                margin-right 0
        +below(400px)
            width 100%
            margin-right 0
    &.produtos-list-side .produto-thumb
        width calc('33.333% - 33.333px')
        margin-right 50px
        margin-bottom 75px
        &:nth-child(4n)
            margin-right 50px
        &:nth-child(3n)
            margin-right 0
        +below($tablet)
            width calc('50% - 15px')
            margin-right 30px
            margin-bottom 40px
            &:nth-child(3n)
                margin-right 30px
            &:nth-child(2n)
                margin-right 0
        +below(400px)
            width 100%
            margin-right 0
    &.produtos-list-relacionados .produto-thumb
        width calc('25% - 37.5px')
        margin-right 50px
        margin-bottom 75px
        &:nth-child(4n)
            margin-right 0
        +below($tablet)
            width calc('50% - 15px')
            margin-right 30px
            margin-bottom 40px
            &:nth-child(4n)
                margin-right 40px
            &:nth-child(2n)
                margin-right 0
        +below(400px)
            width 100%
            margin-right 0
    .pagination
        width 100%
        margin 0
        padding 0
        text-align center
        border-top 1px solid rgba($cinzaLinha, .7)
        padding-top 18px
        li
            list-style-type none
            display inline-block
            opensans 13
            color $cinzaTexto
            margin 0 4px
            &.disabled
                display none
            &.active
                color #000
                border 1px solid $cinzaTexto
                padding 2px 4px

.produto-thumb
    position relative
    .material
        position absolute
        top -12px
        height 24px
        z-index 2
        width 100%
        left 0
        overflow hidden
        text-align center
        &:before
            content ''
            position absolute
            left 0
            top 50%
            margin-top -1px
            width 100%
            height 1px
            background $cinzaLinha
        span
            white-space nowrap
            background #fff
            height 24px
            line-height 24px
            opensans 12
            color $cinzaTexto
            padding 0 12px
            position relative
            z-index 3
    .marca
        width 100%
        left 0
        overflow hidden
        text-align center
        z-index 2
        transform translateY(-50%)
        span
            display inline-block
            background #fff
            color $roxo
            opensans 11
            padding 2px 8px
    .promocao
        position absolute
        display inline-block
        top 12px
        left 50%
        transform translateX(-50%)
        height 18px
        line-height 18px
        background #FF0018
        opensans 11 bold
        color #fff
        padding 0 10px
        z-index 3
    .imagem
        position relative
        img
            width 100%
            height 100%
            display block
            max-width 260px
            margin 0 auto
            +below(400px)
                max-width 200px
        .overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background $img('mais.png') no-repeat center rgba($azul, .8)
            opacity 0
            transition opacity .3s
    &:hover .imagem .overlay
        opacity 1
    .textos
        margin-top 8px
        color $cinzaTexto
        text-align center
        p
            margin 0
            &.linha
                opensans 10
                color $azul
            &.titulo
                opensans 14 bold
                color $azul
            &.legenda
                opensans 14
                color $texto
            &.valor
                opensans 14
                color #ff0018
                margin 10px 0
                strong
                    opensans 18 bold
                    color #ff0018
            +mobile()
                &.linha
                    font-size 9px
                &.titulo
                &.legenda
                &.valor
                    font-size 13px
                &.valor strong
                    font-size 15px
        .mais-detalhes
            span
                opensans 12 bold
                display inline-block
                padding 5px 14px
                background #989898
                color #fff
                transition background .3s
    &:hover .textos .mais-detalhes span
        background $roxo

.produtos-nenhum
    opensans 14
    color $cinzaTexto
    padding-bottom 60px
    +mobile()
        font-size 13px
        padding-bottom 30px

.produtos-detalhe
    clearfix()
    .textos
        width 52.5%
        float right
        color $texto
        h1
            opensans 22 bold
            margin .5em 0 4px
            color $roxo
        .codigo
            margin 0
            opensans 12
        .resumo
            opensans 12
            margin 18px 0 36px
        .descricao
            border-top 1px solid $cinzaLinha
            margin-top 40px
            padding-top 40px
            h3
                opensans 14 bold
                margin 0 0 10px
                font-style italic
            p
                opensans 12
                margin 0
        +mobile()
            width 100%
            h1
                font-size 18px
            .codigo
                font-size 11px
            .resumo
                margin 10px 0 15px
            .descricao
                margin-top 20px
                padding-top 20px
                h3
                    font-size 12px
    .medidas-valores
        display flex
        +mobile()
            display block
        .nav-medidas
            width 190px
            margin-right 40px
            +mobile()
                width 100%
            a
                +mobile()
                    display none
                display block
                opensans 12
                padding-right 15px
                padding-left 3px
                position relative
                + a
                    margin-top 14px
                &.active
                    font-weight 700
                    &:after
                        content ''
                        position absolute
                        bottom -4px
                        left 0
                        width 100%
                        height 1px
                        background $texto
                    &:before
                        content ''
                        position absolute
                        right 0
                        bottom -5.5px
                        width 5px
                        height 5px
                        border-right 1px solid $texto
                        border-bottom 1px solid $texto
                        transform rotate(-45deg)
            .medida-select
                display none
                width 100%
                opensans 13
                border 0
                outline 0
                background #fff
                border 1px solid $cinzaLinha
                color $texto
                padding 5px 7px
                margin-bottom 10px
                +mobile()
                    display block
        .detalhes-medida
            flex 1
            .medida
                display none
                &.active
                    display block
            .medida-a-vista
                background #F5F5F5
                padding 20px
                max-width 250px
                opensans 10
                font-style italic
                position relative
                +mobile()
                    max-width 100%
                span
                    display block
                    font-style normal
                    &.por
                        opensans 16 bold
                        margin-top 4px
                        color $roxo
                    &.de
                        margin-top 2px
                        span
                            display inline
                            text-decoration line-through
                    &.oferta
                        display inline-block
                        background #FF0018
                        position absolute
                        right 20px
                        top 20px
                        opensans 11 bold
                        color #fff
                        padding 5px 15px
            .medida-parcelado
                padding-left 20px
                margin-top 25px
                +mobile()
                    margin-top 15px
                p
                    margin 0
                    opensans 10
                    font-style italic
                    span
                        opensans 12
                        font-style normal
                        display block
            form
                margin-top 25px
                +mobile()
                    margin-top 15px
                input[type=submit]
                    display block
                    width 100%
                    max-width 350px
                    background #F5F5F5
                    border 1px solid $azul
                    cursor pointer
                    color $azul
                    transition background .3s, border .3s, color .3s
                    outline 0
                    opensans 16 bold
                    padding 22px
                    &:hover
                        background #fff
                        border-color $roxo
                        color $roxo
                    +below($tablet)
                        padding 12px
                        font-size 15px
    .imagens-propriedades
        width 44.1%
        float left
        +mobile()
            width 100%
            margin-top 30px
        .imagens
            +mobile()
                max-width 530px
            .imagem-aberta
                border 1px solid $cinzaLinha
                margin-bottom 5px
                position relative
                img
                    display block
                    width 100%
            .imagens-nav
                width 20px
                height 20px
                position absolute
                top 50%
                transform translateY(-10px) rotate(45deg)
                border 0
                outline 0
                font-size 0
                background none
                cursor pointer
                margin 0
                &.imagens-nav-next
                    right 14px
                    border-top 2px solid $cinzaTexto
                    border-right 2px solid $cinzaTexto
                &.imagens-nav-prev
                    left 14px
                    border-bottom 2px solid $cinzaTexto
                    border-left 2px solid $cinzaTexto
            #image-zoom
                display none
                position absolute !important
                width 52.5%
                height 450px
                top 0
                right 0
                border 4px solid #ccc
                background #fff
                +below($tablet)
                    display none !important
            .imagens-thumbs
                display flex
                flex-wrap wrap
            a
                display block
                width calc('25% - (15px/4)')
                margin-right 5px
                &:nth-child(4n)
                    margin-right 0
                margin-bottom 5px
                border 1px solid $cinzaLinha
                &.active
                    border-color $cinzaTexto
                img
                    width 100%
        .propriedades
            margin-top 55px
            h3
                opensans 14 bold
                font-style italic
                color $texto
                margin 0 0 1.2em
            .propriedades-thumbs
                width 70%
                display flex
                flex-wrap wrap
                div
                    width calc('33.33% - (40px/3)')
                    margin-right 20px
                    margin-bottom 30px
                    &:nth-child(3n)
                        margin-right 0
                    img
                        max-width 100%
                        display block
                        margin 0 auto 8px
                    span
                        text-align center
                        display block
                        opensans 12
                        color $texto
                        text-transform uppercase
            +mobile()
                .propriedades-thumbs
                    width 100%
                margin-top 25px
                h3
                    font-size 12px
            +below($tablet)
                .propriedades-thumbs
                    div
                        width calc('50% - 20px')
                        &:nth-child(3n)
                            margin-right 20px
                        &:nth-child(2n)
                            margin-right 0

.produtos-relacionados
    margin-top 60px
    background-image linear-gradient(#F6F6F6 0%, #fff 15%)
    padding-top 35px
    p
        text-align center
        margin 0 0 45px
        opensans 20
        font-style italic
        color $texto
        span
            padding 0 70px
            position relative
            &:before
            &:after
                content ''
                width 55px
                height 1px
                background $cinzaTexto
                position absolute
                top 50%
                margin-top -1px
            &:before
                left 0
            &:after
                right 0
    +mobile()
        margin-top 40px
        padding-top 25px
        p
            margin-bottom 30px
            font-size 16px
            text-align left
            span
                padding 0
                &:before
                &:after
                    display none
